<!DOCTYPE html>
<html>
<head>
  <title>Lista de Veículos</title>
</head>
<body style="background-color: beige;">
  <h1>Lista de Veículos</h1>
  <a href="/veiculos/adicionar">
    <button>Cadastrar novo veículo</button>
  </a>
  <ul>
    <% veiculos.forEach(veiculo => { %>
      <li style="display:flex; align-items: center; gap: 10px;">
        <span style="min-width: 100px;"><%= veiculo.id %> - <%= veiculo.nome %></span>
        <form action="/veiculos/editar/<%= veiculo.id %>" method="POST" style="display:inline;">
          <input type="text" name="nome" placeholder="Novo nome">
          <button type="submit">Editar</button>
        </form>
        <form action="/veiculos/excluir/<%= veiculo.id %>" method="POST" style="display:inline;">
          <button type="submit">Excluir</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>